<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="container-fluid text-center bg-dark py-3">
        <h1 class="text-light">Your Team Profile</h1>
    </div>
    
    <div class="container-fluid bg-secondary">
        <div class="row border-top">
            <div class="col text-center border-right" id="managers">
                <div class="row bg-dark py-1"><h3 class="text-light mx-auto">Managers</h3></div>
                <div class="card text-white bg-dark my-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col text-center" id="engineers">
                <div class="row bg-dark py-1"><h3 class="text-light mx-auto">Engineers</h3></div>
                <div class="card text-white bg-dark my-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
              
            </div>
            <div class="col text-center border-left" id="interns">
                <div class="row bg-dark py-1"><h3 class="text-light mx-auto">Interns</h3></div>
                <div class="card text-white bg-dark my-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</body>
</html>